html{
  font-size: 16px;
}
canvas{
  margin-top:30px;
  margin-left:5%;
  border: 2px solid gray;
  background-color: white;
}
body{ 
    background-image: url(bg_changed.jpg);
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
}

#myReset {
  margin-top: 20px;
  margin-left: 13%;
  float: left;
}

#myColors {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  
  border: 1px solid #000;
  text-align: center;
}
#myBrushSize {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

#myEraser {
    margin-top: 35px;
    margin-right: 5px;
    float: left;
}

#myBrush {
    margin-top: 20px;
    float: left;
}

#myTextButton{
  margin-bottom: 10px;
  float: left;
}

#myText{
  display:none;
  margin-bottom: 10px;
  float:left;
}

#myTextStyle{
  display:none;
  margin-bottom: 10px;
  float: left;
}

#myTextSize{
  display:none;
  margin-bottom: 10px;
  float: left;
}

#myPic{
  margin-bottom: 10px;
  float: left;
}

#myPictureSource{
  margin-bottom: 10px;
  display:none;
  float: left;
}

#myDownload{
  margin-top: 25px;
  float: left;
}

#myCircle{
  margin-top: 25px;
  float: left;
}

#myRec{
  margin-top: 30px;
  margin-left: 5px;
  float: left;
}

#myTri{
  margin-top: 25px;
  margin-right: 10px;
  float: left;
}

#myPicture{
  margin-bottom: 10px;
  float: left;
}

#myUndo{
  margin-top: 30px;
  margin-bottom: 10px;
}





/*#myText {
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}*/

/*#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
#white {
 background-color: white;
}
#ebebeb {
  background-color: #ebebeb;
  margin-right: 20px;
}*/